@model IEnumerable<WebApplication1.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers Information</h2>

@Html.ActionLink("新增客戶", "Create")

<hr />

@using (Html.BeginForm("SearchByName", "Customers"))
{
    <span>客戶名稱: </span> <input type="text" name="name" />
    <input type="submit" value="搜尋" />
}

<hr />

@using (Html.BeginForm("SearchByBirthday", "Customers"))
{
    <span>開始日期: </span> <input type="text" name="beginDate" /><br />
    <span>結束日期: </span> <input type="text" name="endDate" /><br />
    <input type="submit" value="搜尋" />
}


<hr />

<table border="1">
    <tr>
        <th>編號</th>
        <th>@Html.DisplayNameFor(m => m.Name)</th>
        <th>生日</th>
        <th>照片</th>
        <th></th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.CustomerID</td>
            <td>@c.Name</td>
            <td>@c.Birthday.Value.ToShortDateString()</td>
            <td>
                <a href="~/photos/@c.Photo">
                <img src="~/photos/@c.Photo" width="200"/>
                </a>
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = c.CustomerID })
                @Html.ActionLink("刪除", "Delete", new { id = c.CustomerID }, new { onclick = "return confirm('Sure?');" })
                @Html.ActionLink("刪除", "Delete2", new { id = c.CustomerID })
            </td>
        </tr>
    }
</table>